body {
    background-color: #341B69;
    }

#logo{
      height: 5em
    }

.d-block{
    height: 200px;
    width:100px;
    }

.container-1{
    background-color: #F16F0B;
    }

.h-1{
    color:white;

    }
.craft-1{
      height: 16em;
    }
.fort-1{
    height: 16em;
    }
.RE8-1{
      height: 16em;
    }
.RE7-1{
      height: 16em;
    }